<div class="home">
    <h1>Welcome to the Greatest Project in the World</h1>

    <p>You've just stumbled upon the greatest project. It's truly going to blow your mind.</p>
    
    <p>Wait until you see the awesome features we have for you:</p>
    
    <div class="features">
        <div class="feature">
            <mat-icon>home</mat-icon>
            <p>This application makes you feel like you're at home.</p>
        </div>
        <div class="feature">
            <mat-icon>search</mat-icon>
            <p>You can search things in this app.</p>
        </div>
    </div> 
    <div class="features">
        <div class="feature">
            <mat-icon>settings</mat-icon>
            <p>Very configurable.</p>
        </div>
        <div class="feature">
            <mat-icon>done</mat-icon>
            <p>And now you're work is done.</p>
        </div>
    </div> 
    
    <p>Are you pumped? You should be! Registration is 100% free! <strong>Get started today!</strong></p>
    
    <button routerLink="/create-account" class="cta">Create New Account</button>
</div>