<div class="create-account-form">

    <div class="form-line">
        <label for="firstName">First Name: </label>
        <input id="firstName" type="text" [formControl]="firstName">    
    </div>
    <div class="form-line">
        <label for="lastName">Last Name: </label>
        <input id="lastName" type="text" [formControl]="lastName">
    </div>
    <div class="form-line">
        <label for="email">Email: </label>
        <input id="email" type="text" [formControl]="email">
    </div>
    <div class="form-line">
        <label for="password">Password: </label>
        <input id="password" type="password" [formControl]="password">
    </div>
    <div class="form-line">
        <label for="passwordAgain">Retype Password: </label>
        <input id="passwordAgain" type="password" [formControl]="passwordAgain">
    </div>
    <div class="form-line">
        <button type="button" (click)="createAccount()">Create Account</button>
    </div>
    
</div>